nav {
    background-color: #eaba6b;
}

h1{
    text-align: center;
}

main {
    background-color: unset;
}

.book_dashboard {
    width: 80%;
    margin: 35px auto;
    border-radius: 10px;
    background: #1e1e1e;
    color: #EAD2AC;
    padding: 10px 25px;
    box-shadow: 0px 3px 20px #0c0c0c;
    display: flex;
    flex-direction: column;
}

.book_images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.book_image {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.book_images img {
    max-height: 300px;
    border-radius: 12px;
    max-width: 90%;
}

.book_title, .book_resume, .book_description, .book_price  {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.label {
    width: 15%;
}

.value {
    width: 85%;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    width: 50%;
    margin-bottom: 15px;
}

.action_box {
    display: none;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    width: 100%;
}

.action_box div {
    width: 35%;
    cursor: pointer;
}

.action_box.active {
    display: flex;
}

.form_field {
    width: 100%;
}

.form_field input {
    border: 1.9px solid #eaba6b;
    border-radius: 5px;
    color: #FFF;
    padding-left: 5px;
    min-height: 45px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    text-align: start;
}

.form_field textarea {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 12px;
    min-height: 50px;
    border: 1.9px solid #eaba6b;
    padding: 10px;
}

.action_box.edit_button {
    justify-content: end;
}

@media (max-width: 700px) {
    nav {
        background-color: #1e1e1e;
    }

    main {
        margin-top: 100px;
    }

    .book_images {
        flex-direction: column;
    }

    .book_image {
        width: 100%;
    }

    .book_title, .book_resume, .book_description, .book_price {
        flex-direction: column;
        align-items: flex-start;
    }

    .actions {
        width: 100%;
        margin-top: 15px;
    }

    .action_box div {
        width: 25%;
    }
}

